/* src/styles/button.css */
.action-button {
    background-color: #ff9800;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .action-button:hover {
    background-color: #fb8c00;
  }
  
  .delete-button {
    background-color: #f44336;
  }
  
  .delete-button:hover {
    background-color: #e53935;
  }
  